---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: {{ $arr := split .Name "_" }}"{{ index $arr 1 }}"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---
# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

`hpe_morpheus_role` resource ....

## Example Usage

{{ tffile "../../internal/subproviders/morpheus/resources/role/example.tf" }}

{{ .SchemaMarkdown | trimspace }}

## Additional Information

Currently, only the `user` `role_type` is supported through the Terraform provider.

Support for `account` `role_type` is in progress.
