---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: {{ $arr := split .Name "_" }}"{{ index $arr 1 }}"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---
# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

`hpe_morpheus_group` data source ....

Groups in HPE Morpheus Enterprise define what resources a user has access to. Group access is defined by User Roles. Clouds are added to groups, and a User can only access the Clouds that are in the Groups their Role(s) gives them access to. Resources such as Networks, Datastores, Resources Pools, and Folders have additional Group access settings.

Policies applied to a Group will be enforced on all Instances provisioned or moved into that Group.

## Example Usage

{{ tffile "../../internal/subproviders/morpheus/datasources/group/example-id.hcl" }}

{{ tffile "../../internal/subproviders/morpheus/datasources/group/example-name.hcl" }}

{{ .SchemaMarkdown | trimspace }}
