---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: {{ $arr := split .Name "_" }}"{{ index $arr 1 }}"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---
# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

`hpe_morpheus_cloud` data source ....

Clouds are integrations or connections to public, private, hybrid clouds, or bare metal servers. Clouds can belong to many groups and contain many hosts.

## Example Usage

{{ tffile "../../internal/subproviders/morpheus/datasources/cloud/example-id.tf" }}

{{ tffile "../../internal/subproviders/morpheus/datasources/cloud/example-name.tf" }}

{{ .SchemaMarkdown | trimspace }}
